.PrimaryButton {
  padding: 4px 12px;
  border-radius: 8px;
  border: 2px solid transparent;
  font-size: 16px;
  background-color: rgb(162, 123, 177);
  color: rgb(22, 14, 38);
  cursor: pointer;
}

.SecondaryButton {
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 16px;
  background-color: transparent;
  color: whitesmoke;
  border: 2px solid rgb(162, 123, 177);
  cursor: pointer;
}

.TirtiaryButton {
  padding: 4px 12px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  background-color: transparent;
  border: 2px solid transparent;
  color: whitesmoke;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.PrimaryButton:hover {
  border: 2px solid rgb(244, 244, 244);
  cursor: pointer;
}

.SecondaryButton:hover {
  border: 2px solid rgb(244, 244, 244);
  cursor: pointer;
}
