@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

.categoryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 250px;
  border: 5px solid white;
  border-radius: 13px;
  background-size: 350px;
}

.categoryContainer:hover {
  border: 5px solid rgb(162, 123, 177);
  border-radius: 13px;
  cursor: pointer;
}
