.SearchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}

.SearchFormInput {
  width: 100%;
  height: 75px;
  font-size: 30px;
  background-color: white;
  color: rgb(0, 0, 0);
  outline: none;
  text-align: center;
}

.SearchFormInput:focus {
  outline: none;
}

.AlterativeForm {
  display: flex;
  justify-content: space-between;
}

.AlterativeFormSelect {
  width: 100px;
  height: 100px;
  font-size: 30px;
  border-radius: 12px;
}
