
.HeadingOne {
  font-size: 32px;
  font-weight: 800;
  color: whitesmoke;
}

.HeadingTwo {
  font-size: 26px;
  font-weight: 700;
  color: whitesmoke;
}

.HeadingThree {
  font-size: 18px;
  font-weight: 500;
  color: whitesmoke;
}
