.CardContainer {
  display: flex;
  flex-direction: row;
}

.ResultsContainer {
  display: flex;
  flex-direction: row;
  width: 85vw;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
