.drinkCardContainer {
    display: flex;
    flex-direction: row;
  }
  
  .resultContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-between;
    row-gap: 24px;
  }