.drinkCardContainer {
  display: flex;
  flex-direction: row;
  margin-right: 39px;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  justify-content: space-between;
  row-gap: 32px;
}

.resultContainer::after {
  content: "";
  flex: auto;
}
