.content {
  background: url("https://wallpaperaccess.com/full/1886667.jpg") center
    no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
